.wrapper {
  width: 400px;
  margin: 0 auto;
  padding-top: 150px;
}

.toggleWrapper {
  display: flex;
  justify-content: space-between;

  margin: 0 auto;
  margin-bottom: 30px;
}

.toggle {
  width: 200px;
  height: 50px;

  border: 1px solid black;
}

.toggle:first-of-type {
  border-right: none;
}