.wrapper {
  box-sizing: border-box;
  width: 1000px;
  margin: 0 auto;
}

.userInfo {
  margin: 0 auto 50px;

  text-align: center;
}

.info {
  margin: 0;

  font-size: 22px;
  font-weight: 400;
}

.inner {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1000px) {
  .wrapper {
    width: 100vw;
    padding: 0 15px;
  }
}

/* @media (max-width: 650px) {
  .inner {
    padding: 0 15px;
  }
} */