.wrapper {
  width: 1000px;
  margin: 0 auto;
}

.userInfo {
  width: 500px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.info {
  margin: 0;

  font-size: 22px;
  font-weight: 400;
}

.inner {
  display: flex;
  justify-content: space-between;
}