.close {
  border: 1px solid black;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 25px;
  width: 400px;
  margin: 0 auto;
  border: 1px solid black;
}

.input {
  width: 200px;
  box-sizing: border-box;
  height: 30px;
  font-size: 16px;
}

.select {
  background-color: transparent;
  border: 1px solid black;
  height: 30px;
  font-size: 16px;
  width: 150px;
}

.submit {
  height: 40px;
  width: 100px;
  border: 1px solid black;
}

.headling {
  margin: 0 0 30px 0;
}

.field {
  margin-bottom: 20px;
}

.label {
  display: block;
  font-size: 18px;
}