.close {
  width: 30px;
  height: 30px;

  border: 1px solid black;
  border-radius: 50%;
}

.wrapper {
  display: flex;
  justify-content: space-between;

  box-sizing: border-box;
  width: 400px;
  margin: 0 auto;
  padding: 25px;

  border: 1px solid black;
}

.input {
  box-sizing: border-box;
  width: 200px;
  height: 30px;

  font-size: 16px;
}

.select {
  width: 150px;
  height: 30px;

  font-size: 16px;

  background-color: transparent;
  border: 1px solid black;
}

.submit {
  width: 100px;
  height: 40px;

  border: 1px solid black;
}

.headling {
  margin: 0 0 30px;
}

.field {
  margin-bottom: 20px;
}

.label {
  display: block;

  font-size: 18px;
}