.folder {
  cursor: pointer;

  box-sizing: border-box;
  width: 100%;
  margin-bottom: 30px;

  border: 1px solid black;
  border-radius: 10px;
}

.content {
  box-sizing: border-box;
  height: 100px;
  padding: 15px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  width: 50%;
  height: 50px;

  font-size: 12px;

  border-top: 1px solid black;
}

.delete {
  color: white;

  background-color: red;
  border-bottom-right-radius: 9px;
}

.update {
  background-color: orange;
  border-right: 1px solid black;
  border-bottom-left-radius: 9px;
}

.inner {
  display: flex;
}

.name {
  margin: 0;
}

.name * {
  word-break: break-word;
}